/*body {
	margin-top: 50px;
}*/
.container-fluid {
	padding: 20px 25px;
}

#deleteButton {
	float: right;
	visibility: hidden;
}

td.ng-binding {
	vertical-align: middle          !important;
}

#securitiesTable tbody tr.ng-scope:hover #deleteButton {
	visibility: visible;
}

#securitiesTable tbody tr.ng-scope:hover {
	/* cursor: pointer; */
	background-color: lightgray;
}